<div class="tableBlock">
    <h2>TITLE</h2>
    <table>
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Date Due</th>
                <th>Company</th>
                <th>created At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>F20220915-001 </td>
                <td>15/09/2022</td>
                <td>Jouet Jean-Michel</td>
                <td> 25/09/202</td>
            </tr>
        </tbody>

    </table>
</div>