.aside{
    width: 285px;
    height:1340px;
    top:2px;
    left:285px;
}
.profil{
    position: absolute;
    width: 130.32px;
    height: 196.6px;
    left: 80.55px;
    top: 32.4px;
}
.separationBar
{
    position: absolute;
    width: 281px;
    height: 0px;
    left: 0px;
    top: 280px;


}

.PhotoHenry {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 88px;
    top: 54px;
    border-radius: 50%;
    

}
.namehenry{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttonAside{
    position: absolute;
    width: 104px;
    height: 24px;
    left: 88px;
    top: 339px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
