main{
    position: relative;

}

.container{
    width: 1290px;
    padding: 10px 10px;

       &::before{
            background-image: url(../img/ProjectM.png);
            content:"";
            width:177px;
            height: 138px;
            position: absolute;
            top: 50%;
            right: 0;
        }


            &::after{
                background-image: url(../img/lamp.png);
                background-repeat: no-repeat;
                content:"";
                width:181px;
                height: 141px;
                position: absolute;
                top: 65%;
                left: 0;
        }
}


.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 79px;
    background-color: $color-primary;
}


table{
    width: 1193px;
    margin-left: 120px;
}

tr{
    background-color: $color-primary;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 55px;
}


th{
background-color: $color-primary;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 55px;
text-align: left;
}


h2{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 73px;
margin-left: 120px;
margin-bottom:30px;
margin-top: 43px;;
}

.row tr:nth-child(even){
    background-color:$color-grey;
}
.row tr:nth-child(odd){
    background-color:$color_white;
}




