.container{
    padding-left: 10px 10px;
    width: 1440px;
    margin:0 auto;
}


.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 79px;
    background-color: $color-primary;
    position: relative;
    

}


table{
    width: 1193px;
    margin-left: 120px;
}

tr{
    background-color: $color-primary;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 55px;
}


th{
background-color: $color-primary;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 55px;
text-align: left;
}


h2{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 73px;
margin-left: 120px;
margin-bottom:30px;
}

h3{
    width: 580px;
    padding:120px;
    margin-left: 100px;
}

.row tr:nth-child(even){
    background-color:$color-grey;
}
.row tr:nth-child(odd){
    background-color:$color_white;
}

.slogan{
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-top: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 82px; 
    position:relative;
    .img_3{
        position:absolute;
        left:210%;
        transform: translateX(-50%); 
        z-index: 10;    
    }

    .img_4{
        position:absolute;
        left:210%;
        transform: translateX(-50%);
    }

}

    .img_1{
        width: 600px;
        margin-bottom: 75px;
        
    }

    .img_2{
        position: absolute;
        bottom:0;
        left:55%;
        transform: translateX(-50%);
    }


.project{
    width:300px;
    float: right;
}

